*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --x-color: black; 
    --blue: rgb(90, 206, 221);
    --x-hover-color: rgb(201, 200, 202);
    --o-hover-color: rgb(198, 238, 241);
    --winning-blocks: rgb(197, 220, 207);
}

body{
    font-family: 'Finger Paint', cursive;
    height: 100vh
}

.navbar{
    background-color: var(--blue);
    color: white;
    display: flex;
    font-size: 1rem;
    padding: 10px;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    min-height: 546px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.hero{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.turn, .score-main, .turn-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    min-width: 320px;
}

.turn-btn button{
    width: 0;
    display: none;
}

.score{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.x-score{
    background-color: var(--blue);
    border-radius: 10px;
    padding: 5px 20px;
    margin-right: 20px;
}

.o-score{
    background-color: var(--x-color);
    border-radius: 10px;
    padding: 5px 20px;
}

.draw-score{
    margin-top: 20px;
    padding: 5px 20px;
}

.resetScoreDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#resetScore{
    margin-right: 0;
    min-width: 150px;
}

.imgbox{
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 5vh;
    width: 0;
    transition: width 1s ease-in-out;
}

.imgbox img{
    width: 100%;
}

.btn{
    margin-top: 15px;
    background-color: var(--blue);
    padding: 10px 20px;
    width: 50%;
    border: none;
    border-radius: 5px;
    transition: 200ms transform;
    font-size: 18px;
    font-weight: 600;
    min-width: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;;
    cursor: pointer;
    margin-right: 10px;
}

button:hover{
    cursor: pointer;
    transform: translateY(-2px);
}

#playerText{
    color: var(--blue);
    text-transform: uppercase;
}

#gameboard{
    margin: 3rem auto;
    width: 33vw;
    height: 30vw;
    display: flex;
    flex-wrap: wrap;
    min-height: 270px;
    min-width: 297px;
}

.box{
    height: 10vw;
    width: 10vw;
    border-right: solid var(--blue) 2px;
    border-bottom: solid var(--blue) 2px;
    text-align: center;
    color: var(--blue);
    font-family: 'Finger Paint', cursive;
    font-size: 5rem;
    cursor: pointer;
    min-height: 89px;
    min-width: 89px;
}

.box:hover{
    color: rgb(90, 87, 87)
}

.box:nth-child(3n){
    border-right: none;
}

.box:nth-child(6) ~ .box{
    border-bottom: none;
}

@media (max-width: 1300px) and (min-width: 1100px) {
    .score{
        flex-direction: column;
    }

    .x-score, .o-score, .draw-score, .resetScoreDiv{
        margin-bottom: 20px;
        margin-right: 20px;
        margin-top: 0;
    }

    .turn, .score-main{
        min-width: 120px;
    }

    .hero{
        justify-content: center;
    }
}

@media screen and (max-width: 1100px) {
    .hero{
        flex-direction: column;
    }

    .draw-score{
        margin-top: 0;
    }

    .turn, .score-main, .turn-btn{
        width: 100%;
    }

    #playerText, .btn{
        font-size: 1rem;
    }

    .box{
        font-size: 4.5rem;
    }
}

@media screen and (max-width: 768px) {
    .turn-btn button{
        width: 50%;
        display: flex;
    }

    .turn-btn{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .mutePencilBtn{
        padding: 10px 30px;
    }

    .turn{
        min-width: 100px;
    }

    .buttons button{
        width: 0;
        display: none;
    }

    .imgbox img{
        width: 0;
        display: none;
    }

    h1{
        font-size: 1.8rem;
        text-align: center;
    }
}